a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

.tight-artist {
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.pos-img {
  width: 1em;
}

.tracklist {
  padding-top: 30px;
  /* width: 65%; */
  /* float: left; */
  /* position: relative; */
}
